[init]
  defaultBranch = main

[user]
  name = Boris Nimcevic 
  email = borisnimcevic@gmail.com

[color]
    diff = auto
    status = auto
    branch = auto

[color "status"]
    added = green
    changed = yellow
    untracked = red

[color "diff"]
    meta = yellow
    old = red
    new = green

; [url "git@github.com:"]
; 	insteadOf = https://github.com/

[core]
    editor = nvim

[push]
    followTags = true
    default = current

[alias]
  a = add
  b = branch -a -v
  lol = log --oneline --graph --all
  s = status

[credential]
	helper = store

[diff]
	submodule = log

[submodule]
	recurse = true

[status]
	submodulesummary = true
