[init]
    defaultBranch = main

[user]
    name = Boris Nimcevic 
    ; email = boris.nimcevic@gmail.com
    email = boris.nimcevic@quandify.com

[color]
    diff = auto
    status = auto
    branch = auto

[color "status"]
    added = green
    changed = yellow
    untracked = red

[color "diff"]
    meta = yellow
    old = red
    new = green

; [url "git@github.com:"]
; 	insteadOf = https://github.com/

[core]
    editor = nvim

[push]
    followTags = true
    default = current

[alias]
  a = add
  b = branch -a -v
  ;lol = log --oneline --graph --all --color --abbrev-commit --branches
  lol="log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches"
  s = status

[credential]
	helper = store

[diff]
	submodule = log

[submodule]
	recurse = true

[status]
	submodulesummary = true
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
